# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de configuración de editores e IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Logs y temporales
*.log
.cache/
